<div class="row">
  <div class="col">
    <%= cl_image_tag(@meme.image.upload_id, alt: @meme.image.name, class: "img-fluid rounded") %>
  </div>
  <div class="col">
    <% if @meme.errors.present? %>
      <div class="card border-danger mb-3">
        <div class="card-body">
          <p class="card-text">Sorry, we couldn't fabricate your meme.</p>
        </div>
        <% if @meme.errors.key? :base %>
          <ul class="list-group list-group-flush">
            <% @meme.errors[:base].each do |err| %>
              <li class="list-group-item border-danger text-danger"><%= err %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
    <%= form_for @meme do |f| %>
      <%= f.hidden_field :image_id %>
      <div class="form-group">
        <label for="top">Top Caption</label>
        <input
          type="text"
          name="meme[top]"
          class="form-control <%= "is-invalid" if @meme.errors.key? :top %>"
          value="<%= @meme.top %>"
          placeholder="fabulous finish"
        >
        <% if @meme.errors.key? :top %>
          <div class="invalid-feedback"><%= @meme.errors[:top].join(', ') %></div>
        <% end %>
      </div>
      <div class="form-group">
        <label for="bottom">Bottom Caption</label>
        <input
          type="text"
          name="meme[bottom]"
          class="form-control <%= "is-invalid" if @meme.errors.key? :bottom %>"
          value="<%= @meme.bottom %>"
          placeholder="fabulous finish"
        >
        <% if @meme.errors.key? :bottom %>
          <div class="form-control-feedback"><%= @meme.errors[:bottom].join(', ') %></div>
        <% end %>
      </div>
      <button class="btn btn-outline-primary" type="submit">Fabricate</button>
    <% end %>
  </div>
</div>

